<div class="pagination-buttons-container">
  <%= button_to page_path, method: :get, params: { page: page - 1 }, :"data-page" => page, class: "previous-page-button" do %>
      <p>Previous</p>
  <% end %>

  <% array_of_page_numbers.each do |page_number| %>
    <%= button_to page_path, method: :get, params: { page: page_number }, class: "pagination-button" do %>
      <%= page_number %>
    <% end %>
  <% end %>

  <%= button_to page_path, method: :get, params: { page: page + 1 }, :"data-page-total" =>  array_of_page_numbers.size, class: "next-page-button" do %>
    <p>Next</p>
  <% end %>
</div>

<script>
  if ( $(".previous-page-button").data('page') == 1 ) {
    $(".previous-page-button").attr('disabled', true)
  } else {
    $(".previous-page-button").attr('disabled', false)
  }
</script>
